<div id="js-recategorize-opinions-actions" class="hide js-bulk-action-form">
  <%= form_tag(update_category_opinions_path, method: :post, remote: true, id: "js-form-recategorize-opinions", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% opinions.each do |opinion| %>
        <%= check_box_tag "opinion_ids[]", opinion.id, false, class: "js-check-all-opinion js-opinion-id-#{opinion.id}" %>
      <% end %>
    </div>

    <%= bulk_categories_select current_component.categories %>

    <%= submit_tag(t("decidim.opinions.admin.opinions.index.update"), id: "js-submit-edit-category", class: "button small button--simple float-left") %>

    <button id="js-cancel-edit-category" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.opinions.admin.opinions.index.cancel") %></button>
  <% end %>
</div>
