<div id="js-split-opinions-actions" class="hide js-bulk-action-form">
  <%= form_tag(opinions_split_path, method: :post, id: "js-form-split-opinions", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% opinions.each do |opinion| %>
        <%= check_box_tag "opinion_ids[]", opinion.id, false, class: "js-check-all-opinion js-opinion-id-#{opinion.id}" %>
      <% end %>
    </div>

    <%= bulk_components_select((current_component.siblings + [current_component])) %>

    <%= submit_tag(t("decidim.opinions.admin.opinions.index.split_button"), id: "js-submit-split-opinions", class: "button small button--simple float-left") %>

    <button id="js-cancel-split-opinions" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.opinions.admin.opinions.index.cancel") %></button>
  <% end %>
</div>
